.root {
    /* -fx-background-image:url("../image/aastu-logo.jpg"); */
    -fx-background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
    -fx-background-blend-mode: difference;
    -fx-background-size: cover;
    -fx-background-position: center;
}

.login-label {
    -fx-font-size: 36px;
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-text-fill: #042C54;
}

.id-label,
.password-label {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #c6c6c6;
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.password-field,
.id-field,
.reset-pw-textfield {
    -fx-border-radius: 10px;
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: goldenrod;
    -fx-background-color: transparent;

    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn,
.confirm-reset-btn {
    -fx-border-radius: 10px;
    -fx-background-radius: 10 10 10 10;
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-btn,
.reset-btn {
    -fx-background-color: transparent;
}

.reset-btn:hover,
.about-btn:hover,
.back-home-btn,
.confirm-btn {
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
    -fx-transition: 1s;
}

.reset-label:focus,
.about-btn:focus {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}


.aastu-logo {
    -fx-background-image: url("../image/aastu-icon.png");
    -fx-background-radius: 40%;
    -fx-border-radius: 40%;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-border-width: 1px;
}

.error-message {
    -fx-font-size: 12px;
    -fx-font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* -fx-text-fill: #f46600; */
}



.reset-pw-head {
    -fx-font-size: 18px;
    -fx-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -fx-text-fill: #042C54;
}

.back-home-btn,
.confirm-reset-btn {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

.back-home-btn {
    -fx-background-color: #ffc107;
    -fx-border-color: #ffc107;
}

.confirm-reset-btn {
    -fx-background-color: #28a745;
    -fx-border-color: #28a745;
}

